doctype html
head
    title Resultado da busca - TCHAN
    include includes/head
body
    include includes/resolution-message
    include includes/painel-ajuda
    .main-container
        .main-container__top
            img.main-container__top__logo(src='../img/logo.png' width='100' height='auto' onclick='paraIndex()')
            .main-container__top__search
                input#busca.main-container__top__search__input(type='text')
                input.main-container__top__search__button(onclick='paraBuscaCliente()' type='button' value='Busca')
        .main-container__content
            table#listaClientes.main-container__content__table
            button.main-container__content__back(onclick='paraListaClientes()' style='font-size: 26px;')
                i.fas.fa-arrow-left
    script(defer='' src='../js/busca-cliente.js')
    script.
        window.onload = function () {
            socket.emit('getSearchData', getUrlVars()["busca"])
        };
