doctype html
head
    title Colaboradores - TCHAN
    include includes/head
body
    include includes/resolution-message
    include includes/painel-ajuda
    .main-container
        .main-container__top
            img.main-container__top__logo(src='../img/logo.png' width='100' height='auto' onclick='paraIndex()')
            .main-container__top__search
                input#busca.main-container__top__search__input(type='text' placeholder='Quem você está procurando?')
                input.main-container__top__search__button(type='button' onclick='paraBuscaColaborador()' value='Buscar')
        .main-container__content
            table#listaColaboradores.main-container__content__table
            button.main-container__content__back(onclick='paraIndex()' style='font-size: 26px;')
                i.fas.fa-arrow-left
    script(defer='' src='../js/lista-colaboradores.js')
    script.
        window.onload = function () {
            socket.emit('getEmployeeList')
        };
