meta(charset='UTF-8')
meta(name='description' content='TCHAN System')
meta(name='author' content='Alberto Goto, Kennedy Nunes, Kevin Quintino e Vinícius de Jesus')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' integrity='sha256-gvEnj2axkqIj4wbYhPjbWV7zttgpzBVEgHub9AAZQD4=' crossorigin='anonymous')
link(href='http://fonts.googleapis.com/css2?family=Cabin&display=swap' rel='stylesheet')
link(rel='stylesheet' type='text/css' href='../css/main.css')
link(rel='shortcut icon' href='../img/favicon.ico')
script(src='https://kit.fontawesome.com/a6d3239b3e.js' crossorigin='anonymous')
script(defer='' src='http://localhost:2000/socket.io/socket.io.js')
script(defer='' src='../js/global.js')