.incompatible-resolution
    h1 Desculpe, sua resolução atual não é compatível
    p Sua resolução deve ser de no mínimo #[strong 1280x768] e no máximo #[strong 1920x1080].
    p Verifique o zoom de seu navegador, ele pode ser o causador do problema!